<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RelaxingKompas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RelaxingKompas.Properties.Settings>
            <setting name="Density" serializeAs="String">
                <value>7850</value>
            </setting>
            <setting name="IsClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Isweight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Round" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Point" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </RelaxingKompas.Properties.Settings>
    </userSettings>
</configuration>