<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RelaxingKompas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RelaxingKompas.Properties.Settings>
            <setting name="Density" serializeAs="String">
                <value>7850</value>
            </setting>
            <setting name="IsClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Isweight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Round" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Point" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CloseDrawing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseFragment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveDxf" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveFragment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Is3Ddetail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsClose3Ddetail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsCreat3Ddetail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsCreatFragment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isExcel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NameExcelFile" serializeAs="String">
                <value>Спецификация металла</value>
            </setting>
            <setting name="rb_here" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rb_onDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tb_PathExcelFile" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="cmb_plane" serializeAs="String">
                <value>0</value>
            </setting>
        </RelaxingKompas.Properties.Settings>
    </userSettings>
</configuration>